.searchResults {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    overflow: hidden;
    overflow-y: auto;
}

.data {
    display: block;
    color: black;
    text-decoration: none
}

.emptyArray {
    display: none;
}