.form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 10px
}

.formInput {
    padding: 10px;
}

.formMessage {
    padding: 20px;
}

.formBtn {
    padding: 10px 20px;
    background-color: darkslategray;
    color: white;
}